<div class="container">
    <h2>Usuarios Cadastrados</h2>        
    <table class="table table-striped" style="overflow-x: auto">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Senha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>   
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>2</td>   
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>3</td>   
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>john@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>